<scenario>
   <scene> <!-- 0 -->
   <label>
      <text>
  \^/               /\                   /^\
                   /# \            \./ 
                  /### \    /\ 
         ~^~     /   ###\  /##\ 
    /\          /    ## # /##\/\  . 
   /# \      /\/ /\ /    /    .#\/#\. 
  /  ##\  /\/ / /  \/\  /    / \#/ /#\. 
 /###   \/ /  ./   /   \    /  #\ /   #\   /\
/ //###  \/  / \  / ## \   /  ###/  /   \ /# \ 
`--`~~--`-`-== `-`= == ~~ -=`=-`````~- =' ==`~~~~
 _   _           ______                                    
| | | |          |  _  \                                   
| |_| |__   ___  | | | |_   _ _ __   __ _  ___  ___  _ __  
| __| '_ \ / _ \ | | | | | | | '_ \ / _` |/ _ \/ _ \| '_ \ 
| |_| | | |  __/ | |/ /| |_| | | | | (_| |  __| (_) | | | |
 \__|_| |_|\___| |____  \__,_|_| |_|\__, |\___|\___/|_| |_|
                    | |              __/ |                 
      __ _ _ __   __| |             |___/                  
     / _` | '_ \ / _` |                                    
    | (_| | | | | (_| |                                    
 _   ___,_|_| |_|______                                    
| | | |          |  _  \                                   
| |_| |__   ___  | | | |_ __ __ _  __ _  ___  _ __         
| __| '_ \ / _ \ | | | | '__/ _` |/ _` |/ _ \| '_ \        
| |_| | | |  __/ | |/ /| | | (_| | (_| | (_) | | | |       
 \__|_| |_|\___| |___/ |_|  \__,_|\__, |\___/|_| |_|       
                                   __/ |                   
                                  |___/                   
</text>
         <y>1</y>     
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[  Новая игра  ]</label>
         </button_1>
         <button_2>
            <label>[  Выход  ]</label>
         </button_2>
         <button_3>
            <label>[  Статистика  ]</label>
         </button_3>
      </buttonbox>
   </scene>
   <scene> <!-- 1 -->
     <label>
         <y>2</y>
         <text>
Вы сбежали от головорезов, спрятавшись в какой-то горной щели, однако не смогли
удержаться и упали.
Кромешная тьма. Вы понимаете, что вам крайне  необходимо найти  источник света.
Вы потеряли свой  мешок, а за пазухой лишь кинжал,  дубинка, огниво и  кулёк  с 
золотом. Вы идёте вперёд и  натыкаетесь на глиняный  сосуд. Вы можете проверить
его  на наличие  чего-либо полезного, либо обыскать помещение: из сосуда крайне
подозрительно пахнет.</text>
      </label>
      <buttonbox>
         <y>12</y>
         <button_1> 
            <label>[  Проверить сосуд  ]</label> <!-- 2 -->
         </button_1>
         <button_2>
            <label>[  Проверить пещеру  ]</label> <!-- 3 -->
         </button_2>
      </buttonbox>
   </scene>
   <scene>  <!-- 2 -->
      <label>
         <y>20</y>
         <text> 
Вы чувствуете масло в сосуде. Вы не удивились - мало ли что хранится в случайных 
пещерах. Отрезав часть своей рубахи и намотав её на дубину, окунаете псевдофакел 
в масло и  зажигаете его. Пещера  оказывается комнатой из серого камня, какой Вы 
наблюдали, когда под защитой Нюкты пробирались в замки злых господ и в хранилища
гномов, когда томились в темнице вашего отца.</text>
      </label>
      <label>
         <y>1</y>
         <text>
    |  | | o  o  o  o  o  | |      |
 ___|__| | o  o  o  o  o  | |______|_____    
 |     | | o  o  o  o  o  | |   |     |
 |_____| | @  o  o _o__o__| |___|_____|__
   |   | |/_\ o  o`._____,` |      |     
___|___| | o  o  o (_____)| |______|__               
 |     | | o  o  o (     )| |    |     |
 |_____| | o  o  o  ) _ ( | |____|_____|___         
    |  | | o  o  o /.' '.\| |      |      
   _|__|_|_o__o__o/'     '\_|______|___    
         -    -- / _      _\                           
             -  :,' `-._.' `:  --             
      -- --     |           |      --          
                :_          ;   ---                     
     --  -       \         /         -       
                  `._  __.'                
          --                 ---  -
                                   </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1> 
            <label>[  Вперёд  ]</label> <!-- 4 -->
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 3 -->
      <label>
         <y>16</y>
         <text>
Вы ощупываете пещеру, которая оказывается квадратной комнатой из холодного камня.
Решаетесь покинуть помещение, так как взять у  него ничего вы  больше не  можете. 
Туннель течёт  всё ниже,  и вы течёте с ним. Холод сковывает ваши пальцы, вы  еле 
двигаетесь дальше.  Когда в конце туннеля начинает  брезжить свет, вы  чувствуете 
смертельную усталость.</text>
      </label>
      <label>
         <y>1</y>
         <text>
         
         
        
         
         
                   *
                  ***
                  ***
                  ***
                  
         
         
         
         </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1> 
            <label>[  Вперёд  ]</label>
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 4 -->
      <label>
         <text>
Вы шествуете по каменному туннелю. Под ногами временами попадаются разложившиеся 
трупы крыс. Вы понимаете, что удаляетесь всё дальше от выхода, но иного пути нет.
Туннель не кончается.  Факел горит тускло, однако  достаточно, чтобы согреть Вас.
Но вот вдалеке забрезжил свет.</text>
         <y>17</y>
      </label>
      <label>
      <y>1</y>
<text>                        
|  --  |      __|______|_  -   |  --   |
|______|_____/           \_____|_______|______
    |  -    /.           .\   - |       |  --
____|______|  .         .  |____|_______|____
 |     |   |   '.     .'   |  |--    | 
_|_____|___|     ''*''     |__|______|______
    | -    |      ***      |     |      |
____|______|      ***      |_____|______|___
      |    |     /***\     |    |     |
______|____|    /     \    |____|_____|______
  |  --  | |   /       \   |   --|   - |  --
__|______|_|  /         \  |_____|_____|____
     --    | /           \ |   - -  - 
           |/             \|</text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[  Вперёд  ]</label> <!-- 5 -->
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 5 -->
      <label>
         <text>
Вы выбрались в просторную залу, освещённую сотней сосудов с горящим маслом. Вонь
проникает в ваши лёгкие. Через пару мгновений вы узнаёте его:  так пахнет  самый
мерзкий вид живых существ - ангбадские драконы.
С ангдабскими драконами вас связывает не самое приятное прошлое, поэтому вы  бы
предпочли избежать встречи в этот раз и подняться по лестнице. Или нет? </text>
         <y>24</y>
      </label>
      <label>
         <text>
[__|_____|_____|_____|_____|_____|_____|_____|_____|_____|__ __|_____|__]
|_____|_____|.---------------------------------.|_____|_____|  ,(`  | |_]
|__|_____|.' .---------------------------------. '.|_____|__|   _)  | |_]
|_____|__/ .`\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /\ /. \__|_____|   \/  | |_]
|__|____/ /   V  V| V  V| V  V  V  V  V  V  V  V  \ \____|__|\   \_ | |_]
|_____|_\/    |   |     |             | /    |     \/_|_____| \   " | |_]
|__|_____|    |   |     |_____________|/ ,(` |     |_____|__|  \    | |_]
|_____|__|    |   |     / .-.             _) |     |__|_____|   \   | |_]
|__,(`___|    |   |    / (o.o)            \/ |     |____`),_|    \  | |_]
|__(_)|__|    |   |   /   |=| -     - -    \_|     |__|_(_)_|    |__| |_]
|__|\/___|    |   |  /          _ _         "|     |____\/__|    |___\|_]
|____\|__|    |   | /   --                   |_____|__|_/|__|    [____|_]
|__|__\__|    |___|/         -               |:|:|:|___/____|   [_____|_]
|_____|"_|   /  _      -             _ -     """"""|__"__|__|  [______|_]
|__|_____|  / _  _     _                   __-     |__|_____| [_______|_]
|_____|__| /       - -        _     _-        _ -_ |_____|__|[________|_]
|__|_____|/________________________________________|__|_____[_________|_]</text>
      <y>1</y>      
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1> 
            <label>[   Поздороваться с драконом   ]</label> <!-- 6 -->
         </button_1>
         <button_2>
            <label>[   Оставить сантименты   ] </label> <!-- 10 -->
         </button_2>
      </buttonbox>
   </scene>
   <scene> <!-- 6 -->
      <label>
         <text>
Вы неутомимы! Драконы - существа редкие, но...  Как  хотите. Пройдя чуть дальше,
замечаете гигантскую гору костей лаиквэнди, животных, птиц и даже горных гномов,  
однако вы не удивлены: гномы громкие и неуклюжие, да ещё и частые гости гор. 
Отбросив размышления в сторону,  вы  замечаете ещё  один проход на  другом конце 
залы. 
Позвать дракона сейчас или дойти до более безопасного места?</text>
         <y>23</y>
      </label>
      <label>
         <y>1</y>
         <text>
       |:           (| |  | ||   ||   ||   ||   ||   ||   || |  |--'-
       |:.           | | _|_||___||___||___||___||___||___||_|_ |
 ------'----.-.,----.'-| -.-..---..---..---..---..---..---..-.- |-.--
        ,/) |       |  |                                        | |`
 ----.---8--'--.----'--|                                         | |
     |   8     |:      |                  -                     |-'--
     | ,)//    |:.     |                 | |                    |:.
 ----'-`=;'--.-'-.----.|                 | |                    |--.-
       //   /_ _( \    |                 ---                    | /|
 ---.-//----)/\,'_/----|                                        | `|
    |/|     `;=.(      |                                        |--'-
 (  |`.`.   |`,-/      |                                        |
 -`-'-.`.`-.';'=`.-..--|________________________________________|--.-
      |  `-./.}{-'\.)  |========================================|  \
      |    :`-}{-''||  |__||__||__||__||__||__||__||__||__||__|||  |
 ---'`'-.--|`-}{-'||)--|________________________________________|--'-
        |  :`-`'-'/)|  |   ---                  --              |                                       
 -.-----'--;`.}{,`.||--|        -  -                            |---
  |:     ,'/.`..'_(/(  |         --        --    --             |
  |:.  ,',' |`--`.(')) |       -                        --      |
 -'--,' \.._|__,. /`,--|________________________________________|-
     ``----....(','                                              
            _,'с'                                                
         </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[   Сейчас!   ]</label> <!-- Die or 7 -->
         </button_1>
         <button_2>
            <label>[   Дойду до выхода   ]</label> <!-- 8 -->
         </button_2>
      </buttonbox>
   </scene>
   <scene> <!-- 7 -->
   <buttonbox>
      <y>-1</y>
      <button_1>
         <label>[  Вылететь через горный проём  ]</label>
      </button_1>
   </buttonbox>
   <label>
      <y>27</y>
      <text>
В Вашей крови слишком много азарта и мужества, нолдо. 
Вы крепки в своих намерениях, и силы вас не подводят. Путь сейчас дракон не пал 
в битве, вам удаётся его обуздать! Вы -- Повелитель Дракона! 
      </text>
   </label>
   <label>
   <y>1</y>
   <text>
                              WW                  /===-
                              ||   .--.          /===-_---~~~~~~~~~------____
                              |\.  |**|         |===-~___                _,-'  
                 -==\\        `\ \= '' =\       `//~\\   ~~~~`---.___.-~~
             ______-==|        /` ||==||\\      | |  \\           _-~`
       __--~~~  ,-/-==\\      (   ||==||//      | |   `\        ,'
    _-~       /'    |  \\     )_  ==0==;/      / /      \      /
  .'        /       |   \\       /\___/~\    /' /        \   /'
 /  ____  /         |    \`\.__/-~~   \  |_/'  /          \/'
/-'~    ~~~~~---__  |     ~-/~         ( )   /'        _--~`
                  \_|      /        _) | ;  ),   __--~~
                    '~~--_/      _-~/- |/ \   '-~ \             
                   {\__--_/}    / \\_v-|)v__\      \
                   /'   (_/  _-~  | |__v--v__|      | 
                  |   _/) )-~     | |__v--v__|      |   
                  / /~ ,_/       / /__v---v__/      |  
                 o-o _//        /-~_v---v__-~      / 
                 (^(~          /~_v---v__-      _-~              
                ,/|           /__v--v__/     _-~                 
             ,//('(          |__v--v__|     /                  .----_ 
          ,,'//( (            \__v--v__\    \            /'  //        ||
      ,( ( ((, ))              ~-__v--v_~-_  ~--____---~' _/'/        /'
    `~/  )` ) ,/|                 ~-_~v--v_/-__       __-~ _/ 
  ._-~//( )/ )) `                    ~~-'_/_/ /~~~~~~~__--~ 
   ;'( ')/ ,)(                              ~~~~~~~~~~ 
  ' ') '( (/
   </text>
   </label>
   </scene>
   <scene> <!-- 8 -->
      <label>
        <text>
Вы случайно опрокинули чан с маслом. Шум раздался под витиеватыми сводами залы.
Ангбадский дракон поднялся и расправил крылья. При взгляде на вас его угольный
взор пронзила красная искра. Однако силы вас подвели. 
Теперь в той огромной куче лежат и кости нолдо -- ваши останки.</text>
      <y>26</y>
      </label>
      <label>
         <y>1</y>
         <text>
              ZZZZZZZZZ             ZZ       .~))vv             ___
            ZZ         Z          ZZ       .~))vv)))vv      .-~))vv
          ZZ            Z    ZZZZZ       .~)))))vv       .-~))vv)v
       ZZZ               Z  Z          .~)))vv))))vv  .-~)vv)v
    ZZZ            )      ZZ         .~))vv))))vv  .-~)))))vv)v
   z            ( )##*)             //)v))))))  .-~))))vv)v
  Z           ).#(##               //))vv))) .-~))vv)))))vv)v
zz          (( #.#).              //))))) .-~)vv)))))vv)v
          ))  )##*.## )          //)v))) //))))))vv))))vv)v
       ((  ((###.##             |/))))) //)))))vv)))vv)v
      )) ##*. )## )   (\_(\-\b  |))v)) //)))vv)))))))vv)v
    (( ###(.#(# .    _/`-`  ~|b |v))) //)vv)))))))vv)v
     )* ### )#*     (#)  (#) /\b|))) //))))))vv))))vv
   (( #. )#( # .   _/  /    /  \b)) //))vv)))))vvv_._
    )## (##*)##.  (6///6)- / ^  \b)//))))))vv)))vv   ~~-.
 ( #jgs##. ###.*#_ VvvvvV//  ^  \b/)vv))))vv      _.     `bb
  ((## ###*.(## . - | o |' \ (  ^   \b)))vv        .'       b`,
   ((##).*## )# )   \^^^/  ((   ^  ~)_        \  /           b `,
     (##. (## ).     `-'   (((   ^    `\ \ \ \ \|             b  `.
       (*.#*              / ((((        \| | |  \       .       b `.
   @@                    / / (((((  \    \ /  _.-~\     Y,      b  ;
  @@@@@@@               / / /_(((((( \    \.-~ _ _.`" _.-~`,    b  ;
 @@@@@@@@@@            /   /   `(((((()    )    (((((~      `,  b  ;
 @@@@@@@@@@@         _/  _/      `"""/   /'                  ; b   ;
 @@@@@@@@@@@@@   _.-~_.-~           /  /'                _.'~bb _.'
 @@@@@@@@@@@@@@((((~~              / /'              _.'~bb.--~
 @@@@@@@@@@@@@@@@@@@              ((((@@        __.-~bb.-~
                                              ~~~~ </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[   Умереть   ]</label> <!-- Die -->
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 9 -->
      <label>
         <text>
Вам удаётся проскользнуть к выходу. Странное  решение о том, что дракона следует 
приветствовать кажется вам сомнительным, поэтому Вы ступаете в проход.  Он ведёт
вас по нескончаемой лестнице ввысь. Через  утомительные десять минут вы выходите 
к ржавой кованной двери под семью железными замками.  Обладая набором  отмычек и
отточенным навыком, вы взламываете шесть из них. С седьмым возитесь дольше -- вы
сломали весь свой набор. За дверью оказываются покои в дубовой мебели, в дорогих 
коврах и мехах. Посреди покоев, на широкой королевской кровати, лежит  дремлющая
женщина, обложенная чудесного качества валинорским шёлком. Человек... 
</text>
         <y>22</y>
      </label>
      <label>
         <y>1</y>
        <text>
|  --  = .. =  --  = .. =  --  = .. =  --  = .. =  --  = .   %         %   -- |
|  ==  .'  '.  ==  .'  '.  ==  .'  '.  ==  .'  '.  ==  .'    |`-.___.-'|   == |
|`-==-`      `-==-`      `-==-`      `-==-`      `-==-`      |___| |___| `-==-|
|        **          **          **          **          *   |___ O ___|      |
|  **          **          **          **          **        \   | |   /   ** |
|        **          **          **          **          *    \  | |  /       |
|  **          ** _____    _____       **          **          `.|_|.'      **|
|        **      _)   (    )   (_**          **          **          **       | 
|  **          _)      (__)      (__   **          ** =====================** | 
|        **  _)    _____  _____    (_        **        [__]     (     [__]    | 
|  **      _)     (_____)(_(@)_)     (_**          **  [__] O  ( )  O [__] ** |
|_________)__ ____~~~~~~~~~===~~____ __(_______________[__]/!\@@@@@/!\[__]____|
        ________ ~~~~~~~~~~ =~~~~ _________           '===================' 
       /xxxxxxxx~~~~~~~~~~*****~~~ xxxxxxxx\
      /xxxxxxxx~~~~~~~~~~*******~~~xxxxxxxxx\
     /xxxxxxxx~~~~~~~~~~~~~~~~~~~~~~xxxxxxxxx\
    /xxxxxxxx/||||||||||||||||||||||\xxxxxxxxx\
   /xxxxxxxxx||||||||||||||||||||||||xxxxxxxxxx\
  /xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx\
</text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[   Дальше    ]</label> <!-- -->
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 10 -->
   <label>
   <text>
Лестница ведёт вам утомительные тридцать минут. Вы замерзаете. Окончательно
потеряв силы, вы решаете немного вздремнуть на ступени.</text>
   <y>20</y>
   </label>
   <label>
      <y>1</y>
      <text>
__ __|_____|__]
__|       | |_|
__|       | |_]
__|  ,(`  | |_]
__|   _)  | |_]
__|   \/  | |_]
__|\   \_ | |_]
__| \   " | |_]
__|  \    | |_]
__|   \   | |_]
,_|    \  | |_]
)_|    |__| |_]
__|    |___\|_]
__|    [____|_]
__|   [_____|_]
__|  [______|_]
__| [_______|_]
__|[________|_]
__[_________|_]
      </text>
   </label>
   <buttonbox>
      <y>-1</y>
      <button_1>
         <label>[  Уснуть  ]</label> <!-- Die -->
      </button_1>
   </buttonbox>
   </scene>
   <scene> <!-- 11 -->
      <label>
         <text>
Лестница ведёт  ввысь утомительные  двадцать минут,  пока не упирается в дубовую
дверь за ржавыми железными замками.  Неожиданно вы  вспоминаете,  что  обладаете 
чудесным  набором отмычек и  отточенным  навыков взлома.  Через пару минут замки
открываются и комната встаёт перед вами. Это помещение  напоминает военный штаб,
учитывая количество карт, оружия, старых доспехов и наличие заваленного бумагами 
и кожей огромного дубового стола, а за ним - генерала...
         </text>
         <y>23</y>
      </label>
      <label>
         <y>1</y>
         <text> __________________________________________________________________________
|O===%=========%===%=========%===O                                         |
|    %         %   %         %                                             |
|    |`-.___.-'|   |`-.___.-'|                                  _.---._    |
|    |___| |___|   |\   |   /|     ,                         .-'   .-. '-. |
|    |___ O ___|   |\\ {O} //|    `)`         \/  \/         |__]  |X| | | |
|    \   | |   /   \ \\ | // /    '(`         /\  /\         |___] |X| | | |
|     \  | |  /     \ \\|// /      U            \/           |____]=== | | |
|      `.|_|.'       `.\\/.'    o  |  o         /\           |\____]   | | |
|        ___           `-`       . | .         /  \          | \____]  | | |
|       /...\           ___       .|.         /    \         |  \____] | | |
|    ()/x|||x\()       /   \       !    __________________   |   \____]| | |
|    ||  ---  ||    ()/xxxxx\()        [____.--------.____]  |    \____] | |
|    || @o.o@ ||    ||       ||           .'          '.     |     [____\| |
|    || @\-/@ ||    ||       ||         .'             _'.   |    [______| |
|    ||(|===|)||    ||       ||         |   ____,_____/  |   |   [_______| |
|   _____________________________       | _/U  ')(`  U   |   |  [________| |
| ( \_____________________________\     | __| `)(`(' |__ |   | [_________| |
| ) (             %   %            )    |/ /!\@(@@)@/!\ \|   |[__________| |
|_( )             :._.:            (___[__________________]__[___________|_|
  ) (             :C C:            )
  ( )             '._.'            (
         </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[   Дальше   ]</label>
            </button_1> <!-- 12 -->
      </buttonbox>
   </scene>
   <scene> <!-- 12-->
      <label>
         <title>stat_title</title>
         <y>1</y>
         <width>50</width>
         <text>Statistic of</text>
      </label>
      <label>
         <title>stat</title>
         <width>50</width>
         <y>14</y>
         <text>
* Health: 0
* Stamina: 0
* Score: 0</text>
      </label>
      <label>
      <y>1</y>
      <text>
______  _                _         
|  ___|(_)              | |        
| |_    _  _ __    __ _ | |        
|  _|  | || '_ \  / _` || |        
| |    | || | | || (_| || |        
\_|    |_||_| |_| \__,_||_|        
      _____                        
     /  ___|                       
     \ `--.   ___  ___   _ __  ___ 
      `--. \ / __|/ _ \ | '__|/ _ \
     /\__/ /| (__| (_) || |  |  __/
     \____/  \___|\___/ |_|   \___|
                                   
      </text>
      </label>
      <buttonbox>
         <y>-1</y>
         <button_1>
            <label>[  В главное меню ]</label>
         </button_1>
      </buttonbox>
   </scene>
   <scene> <!-- 13 -->
      <label>
        <title>stat_table</title>
        <height>25</height>
        <y>1</y>
        <text>[      Name     ][ Health ][ Stamina ][ Score ]</text>
      </label>
      <buttonbox>
        <y>-1</y>
         <button_3>
            <label>[  Очистить  ]</label>
         </button_3>
         <button_2>
            <label>[  Сохранить  ]</label>
         </button_2>
         <button_1>
            <label>[  Вернуться  ]</label>
         </button_1>
      </buttonbox>
   </scene>
</scenario>
